<html>
<head>
    <title>Status</title>
    <link rel="stylesheet" href="/public/base-min.css">
    <link rel="stylesheet" href="/public/grids-min.css">
</head>
<body>

<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
        <h1>Status</h1>
        <a href="/">Day</a> | <a href="/past/week">Week</a> | <a href="/past/month">Month</a>
    </div>
    <div class="pure-u-1-5"></div>
</div>
{{$duration := .Duration}}
{{range $key, $value :=  .ChartMap}}
<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
        <h5>{{$value.Title}}</h5>
        <img src="/charts/{{$duration}}/{{$key}}">
    </div>
    <div class="pure-u-1-5"></div>
</div>
{{end}}


</body>
</html>
